.comment-box{
    width: 600px;
    height: 800px;
    border: solid 1px green; 
}
.comment-list{
    width: 80%;
    height: 80%;
    border: solid 1px green; 
}
.conment-item{
     width: 80%;
    height: 80%;
    border: solid 1px green; 
}