<!DOCTYPE html>
<html>
    <head>
        <title>render html</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="../js/libs/react-15.3.1/build/react.js"></script>
        <script src="../js/libs/react-15.3.1//build/react-dom.js"></script>
        <script src="../js/libs/browser.min.js"></script>
    </head>
    <body>
        <div id="text"></div>
        <div id="radio"></div>

        <script type="text/babel">


        </script>
    </body>
</html>
