<!DOCTYPE html>
<html>
    <head>
        <title>react组件中遍历数据和条件判断</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="../js/libs/react-15.3.1/react.js"></script>
        <script src="../js/libs/react-15.3.1//react-dom.js"></script>
        <script src="../js/libs/browser.min.js"></script>
    </head>
    <body>
        <div id="main"></div>
        
        <script type="text/babel" src="../js/apps/demo1.2.js"></script>
    </body>
</html>
